.about {
    background-color: rgba(15, 15, 15, 1);
}

.content-about {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    padding: 100px 0;
}

.avatar {
    /* border */
    border: 3px solid white;
    border-radius: 50em;

    /* position */
    display: block;
    margin: auto;
}

.avatar-detalhe {
    display: block;
    float: none;
    margin: -9px auto;
}

.nome, .titulo, .first-p, p {
    color: #f1f1f1;
}

p strong {
    font-weight: 700;
}

.click-here-p {
    text-decoration: none;
    color: #b9e906;
}

.nome {
    position: relative;
    margin-top: 22px;

    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

.titulo {
    position: relative;
    margin-top: -3px;

    text-align: center;
    font-size: 18px;
    line-height: 24px;
}

.first-p{
    margin-top: 40px;
}

.paragraph {
    width: 100%;
    margin: 0 auto;
}

p {
    margin: 1em auto 0;
    font-size: 18px;
    line-height: 1.3em;
}

@media screen and (max-width: 920px){
    .paragraph {
        width: 100%;
    }
}

@media screen and (max-width: 420px){
    .avatar {
        height: 150px;
    }
}

@media screen and (max-width: 350px){
    .nome {
        font-size: 32px;
    }
    p {
        font-size: 16px;
    }
}