.contact {
    background-image:
        linear-gradient(
        rgb(0, 0, 0, 0.4) 25%, 
        rgb(0, 0, 0, 0.5) 65%, 
        rgb(0, 0, 0, 0.5) 75%, 
        rgb(0, 0, 0, 0.6) 100%),
        url(../img/index/background_index.jpg);
        
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
}

.content-contact {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
}

/* CONTACTS */
.contact-title {
    font-size: 54px;
    color: white;
    font-weight: 400;
    margin-bottom: 50px;
}

.contact-way {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.green-icon {
    width: 20px;
    height: 100%;
}

.contact-info {
    color: #e9e9e9;
    font-weight: 100;
    font-size: 17px;
    /* letter-spacing: -0.02em; */
    margin: auto 20px;

}

/* DIVIDER */
.divider {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.or {
    color: white;
    font-size: 14px;
    margin: 10px 0;
}

.line {
    width: 115px;
    height: 2px;
    background-color: #80d74a;

    margin-left: 10px;
}

.circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
}

/* FORM */
.field {
    width: 390px;
    height: 33px;
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: none;
    padding: 0 15px;

}

.field::placeholder {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    color: #000000;
    opacity: 0.4;
    letter-spacing: 0.2em;
    
}

.field:focus {
    outline-color: #80d74a;
}

#f-text {
    height: 70px;
    padding-top: 10px;
    resize: none;
}

.button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 2px;

    background-color: #80d74a;
}

.button::first-line {
    color: black;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2em;
}

/* RODAPÉ */
.rodape {
    display: inline-block;
    height: 120px;

    width: 100%;
    bottom: 0;
    background-color: black;
}

.social-network {
    margin: 30px 0 0;
    text-align: center;
}

.social-button {
    text-decoration: none;
    margin: 0 8px;
}

.copyright {
    text-align: center;
    color: #acacac;
    margin-top: 10px;
}

@media (max-width: 478px) {
    .content {
        width: 90%;
    }

    .field {
        width: -webkit-fill-available;
    }

    form, .button {
        width: 100%;
    }

    .copyright {
        font-size: 12px;
    }

    p.contact-info {
        font-size: 13px;
    }
}

@media (max-height: 720px) {
    .content {
        position: relative;
        margin: 100px auto 130px;
        top: 0;
        left: 0;
        transform: initial;
    }
}