body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: black;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(0, 0, 0, 0.65);
    width: 100%;
    height: 70px;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.logo-cabecalho {
    height: 44px;
    margin-left: 5%;
}
 
.menu {
    margin-right: 5%;
}

.menu a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    letter-spacing: 0.5px
}

/* Responsive Part */
@media screen and (max-width: 690px){
    /* cabecalho */
    .cabecalho.responsive {
        height: 105px;
    }

    .logo-cabecalho {
        margin-left: 10%;
        margin-top: 13px; 
        margin-bottom: 13px;
    }

    /* nav menu */
    .menu {
        display: none;
        margin-right: 10%;
    }

    .menu.responsive {
        display: inline;
        margin: 0 auto 15px;
    }

    .menu.responsive a {
        display: inline;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        margin: 0 10px;
    }

    /* Burguer Menu */
    .container {
        margin-right: 10%;
        cursor: pointer;
        }
        
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-7px, 6px);
        transform: rotate(-45deg) translate(-7px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

@media screen and (max-width: 490px){
    .cabecalho.responsive {
        height: 225px;
    }

    .logo-cabecalho {
        margin-right: 20%;
    }

    .menu {
        display: none;
    }

    .menu.responsive {
        margin: 0px 10% 15px auto;
        height: 100%;
    }

    .menu.responsive a {
        margin-bottom: 10px;
        display: block;
        text-align: right;
    }

}

/* Estados dos Botões */
.button-home:hover {
    font-weight: 900;
    color: #e2dc40;
    letter-spacing: 0px
}

.button-home.active {
    font-weight: 900;
    color: #e2dc40;
    letter-spacing: 0px
}

.button-about:hover {
    font-weight: 900;
    color: #b9e906;
    letter-spacing: 0px
}

.button-about.active {
    font-weight: 900;
    color: #b9e906;
    letter-spacing: 0px
}

.button-resume:hover {
    font-weight: 900;
    color: #15fdd1;
    letter-spacing: -0.1px
}

.button-resume.active {
    font-weight: 900;
    color: #15fdd1;
    letter-spacing: -0.1px
}

.button-portfolio:hover {
    font-weight: 900;
    color: #BF79E0;
    letter-spacing: 0px
}

.button-portfolio.active {
    font-weight: 900;
    color: #BF79E0;
    letter-spacing: 0px
}

.button-contact:hover {
    font-weight: 900;
    color: #80d74a;
    letter-spacing: 0.1px
}

.button-contact.active {
    font-weight: 900;
    color: #80d74a;
    letter-spacing: 0.1px
}