.index {
    background-image:
        linear-gradient(
        rgb(0, 0, 0, 0.4) 25%, 
        rgb(0, 0, 0, 0.5) 65%, 
        rgb(0, 0, 0, 0.5) 75%, 
        rgb(0, 0, 0, 0.6) 100%),
        url(../img/index/background_index.jpg);
        
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100vh;
}

.content-index {
    text-align: center;
    
    width: 100%;
    margin: auto;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home-logo {
    width: 450px;
    transform: rotate(-2deg);
    
}

.home-text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.705);
    margin-top: -8px;
    font-weight: 300;
    margin-left: 120px;
}

@media (max-width: 570px) {
    .home-logo {
        width: 250px;
    }

    .home-text {
        font-size: 14px;
        margin: 0;
    }
}