.portfolio {
    background-color: black;
    color: white;
}

.content-portfolio {
    display: block;
    width: 70%;
    padding: 100px 0;
    margin: 0 auto;
}

.titulo-portfolio {
    margin: 0 auto;
    font-size: 35px;
}

.subtitulo-portfolio {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.images {
    display: flex;
    flex-direction: column;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 70px;   
}

@media (min-width: 570px) {
    .image {
        height: 100px;
    }
}

@media (min-width: 700px) {
    .images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .image {
        height: 150px;
    }
    
    a {
        flex-grow: 4;
        width: 24.8%;
    }
}