body {
    background-image: url('../images/resume/background_resume.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}